<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        Portal de Biblioteca
        {% endblock %}
    </title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <header>

        <h1>Portal de Biblioteca</h1>

        <nav>

            <a href="{{ url_for('inicio') }}">
                Inicio
            </a>

            <a href="{{ url_for('libros') }}">
                Libros
            </a>

            <a href="{{ url_for('perfil') }}">
                Perfil
            </a>

            {% if session.get("usuario") %}

                <a href="{{ url_for('logout') }}">
                    Cerrar sesión
                </a>

            {% else %}

                <a href="{{ url_for('login') }}">
                    Iniciar sesión
                </a>

            {% endif %}

        </nav>

    </header>


    <main>

        {% block contenido %}
        {% endblock %}

    </main>


    <footer>

        <p>
            TEM-742 Tecnologías Emergentes II
        </p>

    </footer>

</body>

</html>