{% extends "base.html" %}

{% block title %}
Iniciar sesión
{% endblock %}


{% block contenido %}

<div class="formulario">

    <h2>
        Inicio de sesión
    </h2>


    {% if error %}

        <div class="error">

            {{ error }}

        </div>

    {% endif %}


    <form method="POST">

        <label for="usuario">
            Usuario
        </label>

        <input
            type="text"
            id="usuario"
            name="usuario"
            required
        >


        <label for="contraseña">
            Contraseña
        </label>

        <input
            type="password"
            id="contraseña"
            name="contraseña"
            required
        >


        <button type="submit">
            Iniciar sesión
        </button>

    </form>

</div>

{% endblock %}